# whould like to log (yes or no) ?
logging=no

# trace file info
input_trace_database_url=jdbc:sqlite:/path/to/trace.sqlite3

# trace file from checkpoint
checkpoint_file_url=jdbc:sqlite:/path/to/checkpoint.sqlite3

# whould like to initialize from checkpoint (yes or no) ?
init_from_checkpoint = yes

#simulation info

#minimum time you are interested to submit vms (in microseconds)
#minimum_interested_time=

#maximum time you are interested to submit vms (in microseconds)
#maximum_interested_time=

number_of_hosts=12500
total_cpu_capacity=6603.25

#interval size (in minutes) to submit vms
loading_interval_size=5

#interval size (in minutes) for dumping already finished vms
storing_interval_size=5
output_tasks_database_url=jdbc:sqlite:/path/to/tasks.sqlite3

#resource utilization info
utilization_database_url=jdbc:sqlite:/path/to/utilization.sqlite3

# interval size (in minutes) for dumping
#utilization_storing_interval_size=1440

# time (in microseconds) that you wish to terminate the simulation
#end_of_simulation_time=

# datacenter info
#collect_datacenter_summary_info=yes
#datacenter_storing_interval_size=
#datacenter_collect_info_interval_size=
#datacenter_database_url=jdbc:sqlite:/path/to/datacenter.sqlite3

# checkpoint info
#make_checkpoint=yes
# interval size in minutes
#checkpoint_interval_size=
#checkpoint_dir=/path/to/directory/

#init from checkpoint info
#init_from_checkpoint=yes

#time when the events should start from
#init_from_time=1800000000
#checkpoint data url to set the initial environment
#checkpoint_file_url=jdbc:sqlite:/path/to/database

#Preemption policy properties
#preemption_policy_class=org.cloudbus.cloudsim.preemption.policies.preemption.FCFSBasedPreemptionPolicy
#number_of_priorities=3
